/*======================== DEV STYLES (TO BE DELETED) =======================*/

body {
  background: white;
}
.box-me {
  border: 1px solid #000;
}

/*=============================== GENERIC ===============================*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.content {
  max-width: 55rem;
  margin: 0 auto;
  text-align: center;
}


/*============================ NAVBAR STYLES ===========================*/

.brand-icon {
  float: left;
  padding-left: 6%;
  padding-top: 0.8em;
}
.brand-icon img {
  width: 1.5em;
}

.active a {
  font-weight: 500;
  color: #333;
}

/*================ Desktop Nav ===================*/



.navMain {
  display: none;
}

@media (min-width: 630px) {

  .navMobile{
    display: none;
  }

  .navMain {
    display: block;
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    height: 4em;
    font-size: 1em;
  }

  #nav-links {
    list-style: none;
    float: right;
    margin: 1.3em 0;
    margin-right: 1.5em;
    padding: 0;
  }

  #nav-links > li {
    display: inline-block;  
  }

  #nav-links a {
    text-decoration: none;
    color: #838994;
    padding: .5em;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
  }



  #nav-links > li > a:hover {
    color: #333;
  }
}


/*=============== Mobile Nav ====================*/

.navMobile {
  position: fixed;
  height: 2.8em;
  z-index: 9999;
  width: 100vw;
  background-color: white;
  top: 0;
  height: 4em;
}


#dropdown-menu {
  display: none;
  position: absolute;
  max-width: 300px;
  top: 3.5em;
  right: 0;
  list-style: none;
  z-index: 9999;
  max-width: 20em;
  text-align: right;
}

.mobLinks li {
  list-style: none;
  padding: .5em 2em;
  background-color: rgba(255,255,255,.9);
}

.mobLinks li a {
  text-decoration: none;
  color: #838994;
  padding: .5em 2em;
}

.mobLinks:first-child {
  padding-top: .5em;
}

#dropdown-btn {
  border: none;
  background-color: transparent;
  color: gray;
  float: right;
  padding: 1.3em;
  padding-right: 1.8em;
}


/*=========================== Intro Section =========================*/

.introduction {
  color: white;
  position: relative;
  height: 40rem;
  width: 100%;
  background: url('../images/first-background.jpg') no-repeat center bottom;
  background-size: cover;
}

.introduction h1 {
  padding-top: 16rem;
  font-size: 3.25rem;
}

.introduction h1,
.introduction h3 {
  font-weight: 300;
  letter-spacing: -0.02em;
}

.introduction h3 {
  margin-top: 0.2em;
}

.buttons button {
  margin-top: 1.3em;
  color: white;
  background-color: #F15B2A;
  border: none;
  width: 9rem;
  border-radius: 4px;
  padding: 1em 1.5em;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.buttons:hover {
  background-color: #d9400e;
}



/*======================================= Cases ===============================*/

.cases {
  margin-top: 6em;
  margin-bottom: 6em;
}

.devices {
  padding: 0;
  list-style: none;
}

.devices img {
  width: 8.16666666667em;
}

.devices li {
  display: inline-block;
  padding: 0 1em;
}

.cases h2,
.caption h3 {
  font-weight: 300;
}

/*================================= Footer ========================================*/

.social {
  margin-bottom: 6em;
}

hr {
  opacity: .1;
}

.icons {
  padding: 0;
}

.icons li {
  display: inline-block;
  padding: 0.7em 0.8em .4em;
}

.icons i {
  padding: .5em;
  border: 1px solid rgba(125,125,125,0.3);
  border-radius: 50px;
  cursor: pointer;
}

.twitter {
  color: #55ACEE;
}

.facebook {
  color: #4C66A4;
}

.instagram {
  color: #9b6954;
}

.copy {
  color: #838994;
  font-size: .9em;
}