/*======================== DEV STYLES (TO BE DELETED) =======================*/

body {
  background: #838994;
}
.box-me {
  border: 1px solid #000;
}

/*=============================== GENERIC ===============================*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.content {
  max-width: 55rem;
  margin: 0 auto;
  text-align: center;
}


/*============================ NAVBAR STYLES ===========================*/


nav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  height: 4em;
}

#brand-icon {
  float: left;
  padding-left: 2em;
}

#brand-icon img {
  height: 4rem;
  width: 1.5em;
}

#nav-links {
  list-style: none;
  float: right;
  margin: 1.3em 0;
  padding: 0;
}

#nav-links > li {
  display: inline-block;
  margin-right: 1em;
  
}

#nav-links a {
  text-decoration: none;
  color: #838994;
  padding: .5em;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

#nav-links li.active a {
  font-weight: 500;
  color: #333;
}

#nav-links > li > a:hover {
  color: #333;
}

/*=========================== Intro Section =========================*/

.introduction {
  color: white;
  position: relative;
  height: 40rem;
  width: 100%;
  background: url('../images/first-background.jpg') no-repeat center bottom;
  background-size: cover;
}

.introduction h1 {
  padding-top: 16rem;
  font-size: 3.25rem;
}

.introduction h1,
.introduction h3 {
  font-weight: 300;
  letter-spacing: -0.02em;
}

.introduction h3 {
  margin-top: 0.2em;
}

.buttons {
  margin-top: 1.3em;

}

button {
  color: white;
  background-color: #F15B2A;
  border: none;
  width: 9rem;
  border-radius: 4px;
  padding: 1em 1.5em;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

button:hover {
  background-color: #d9400e;
}
