/*======================== DEV STYLES (TO BE DELETED) =======================*/

body {
  background: #838994;
}
.box-me {
  border: 1px solid #000;
}

/*=============================== GENERIC ===============================*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


/*============================ NAVBAR STYLES ===========================*/


nav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  height: 4em;
}

.content {
  max-width: 60rem;
  margin: 0 auto;
}

#brand-icon img {
  height: 4rem;
  width: 1.5em;
}

#nav-links {
  list-style: none;
  float: right;
  margin: 1.3em 0;
  padding: 0;
}

#nav-links > li {
  display: inline-block;
  margin-right: 1em;
  
}

#nav-links a {
  text-decoration: none;
  color: #838994;
  padding: .5em;
  transition: color .3s;
}

#nav-links li.active a {
  font-weight: 500;
  color: #333;
}

#nav-links > li > a:hover {
  color: #333;
}



